<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong>
        Importando bibliotecas
    </strong>
</p>

In [166]:
import pandas as pd
import xlwings as xw

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Lendo base de dados
    </strong>
</p>

In [167]:

# nome_arquivo = 'base_entregas_brutas'
# # caminho_arquivo = r'dados\base_entregas_brutas.xlsx'
 
# try:
#     # nome_arquivo = 'base_entregas_brutas'
#     df = pd.read_excel(f'dados/{nome_arquivo}.xlsx')
 
# except FileNotFoundError as e:
#     print(f'Erro: {e}')
 
# # df.sample(5) - tras informações aleatórias

# # df.sample(5, random_state=42) - 42 confirma e que o random sempre será as mesmas consultas

# df.sample(5, random_state=42)

In [168]:
def ler_arquivo(nome_arquivo):
    try:
        df = pd.read_excel(f'dados/{nome_arquivo}.xlsx')
        return df 
    except FileNotFoundError as e:
        print(f'Erro:{e}')

def criar_atualizar_arquivo(nome_arquivo, df_tratado=''):
    df_tratado.to_excel(f'dados/{nome_arquivo}.xlsx')

In [169]:
df = ler_arquivo('base_entregas_brutas')

<p style="font-size: 1.1rem; color: #9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Informações gerais
    </strong>
</p>

In [170]:
# df.shape #Quantidade de linhas e colunas
df.info() #Informações gerais do arquivo
# df.sample(5, random_state=42) #5 aleatorios, fixos
# df.sample(frac=0.1) #mostra 10% da sua base

<class 'pandas.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_entrega         5200 non-null   int64
 1   filial             4454 non-null   str
 2   cliente            4283 non-null   str
 3   status             4615 non-null   str
 4   descricao_entrega  4637 non-null   str
 5   tipo_servico       4095 non-null   str
 6   valor_frete        5200 non-null   float64
 7   data_postagem      5200 non-null   datetime64[us]
 8   prazo_previsto     4330 non-null   float64
 9   dias_atraso        4479 non-null   float64
dtypes: datetime64[us](1), float64(3), int64(1), str(5)
memory usage: 406.4 KB

<p style="font-size: 1.1rem; color: #9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Dados ausentes        
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Por segurança, criamos uma copia do DF       
    </strong>
</p>

In [171]:
df_tratado = df .copy()

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Filial 
    </strong>
</p>

In [172]:
df_tratado.loc[:, 'filial'] = df_tratado ['filial'].fillna("Não informada")

df_tratado["filial"].sample(10)

678                SP
2549    Não informada
1117               MG
970                SP
1679               PR
3610    Não informada
1216               MG
4739               PR
1750               SC
4661               RS
Name: filial, dtype: str

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Cliente 
    </strong>
</p>

In [173]:
df_tratado.loc[:,'cliente'] = df_tratado['cliente'].fillna("Não localizado")

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Dias de atraso 
    </strong>
</p>

In [174]:
df_tratado.loc[:,"dias_atraso"] = df_tratado['dias_atraso'].fillna(0)

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Prazo previsto 
    </strong>
</p>

In [175]:
df_tratado.loc[:, 'prazo_previsto'] = df_tratado['prazo_previsto'].fillna(
    df_tratado['prazo_previsto'].median()                                          #calcula a media de todos os campos preenchidos da coluna e traz o resultado
)
 
df_tratado

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso
0,2870,PR,Amazon,Entregue,Entrega realizada no prazo,Normal,274.75,2026-01-08 19:55:58.133,2.0,0.0
1,930,RJ,Mercado Livre,entregue,Entrega reagendada,Normal,81.90,2026-01-11 19:55:58.138,3.0,0.0
2,1934,MG,Amazon,Entregue,NaN,NaN,291.76,2026-01-13 19:55:58.123,5.0,3.0
3,940,MG,Amazon,ATRASADO,Entrega reagendada,econômico,40.89,2026-01-14 19:55:58.119,2.0,0.0
4,1969,SC,Mercado Livre,EM TRANSITO,Entrega com atraso por chuva,NaN,229.75,2026-01-19 19:55:58.134,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...
5195,3044,SP,Não localizado,ATRASADO,Entrega com atraso por chuva,EXPRESS,151.06,2026-01-05 19:55:58.142,1.0,0.0
5196,212,MG,Americanas,entregue,Entrega reagendada,EXPRESS,94.22,2026-01-26 19:55:58.117,2.0,0.0
5197,3164,SC,Shopee,Em trânsito,Entrega realizada no prazo,Normal,164.79,2026-02-01 19:55:58.133,7.0,0.0
5198,3099,SC,Não localizado,EM TRANSITO,Entrega com atraso por chuva,EXPRESSA,162.47,2026-01-08 19:55:58.121,3.0,1.0
5199,3930,RS,Amazon,EM TRANSITO,Problema operacional na rota,EXPRESSA,161.09,2026-01-16 19:55:58.142,2.0,0.0

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Duplicadas
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Verificando duplicadas com base no ID 
    </strong>
</p>

In [176]:
df_tratado.duplicated(subset=['id_entrega']).sum()

np.int64(2334)

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Removendo duplicadas, mantendo a primeira ocorrencia
    </strong>
</p>

In [177]:
df_tratado.drop_duplicates(subset=['id_entrega'], inplace=True)
# df_tratado = df_tratado.drop_duplicates(subset=['id_entrega'])

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Verificando duplicadas com base no ID 
    </strong>
</p>

In [178]:
df_tratado.duplicated(subset=['id_entrega']).sum()

np.int64(0)

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Tipagem correta para ID
    </strong>
</p>

In [179]:
df_tratado['id_entrega'] = df_tratado['id_entrega'].astype("Int64")

In [180]:
df_tratado.dtypes #saber o tipo das colunas

id_entrega                    Int64
filial                          str
cliente                         str
status                          str
descricao_entrega               str
tipo_servico                    str
valor_frete                 float64
data_postagem        datetime64[us]
prazo_previsto              float64
dias_atraso                 float64
dtype: object

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Padronização e Normalização
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Removendo espaços e alterando para caixa alta 
    </strong>
</p>

In [181]:
df_tratado['status'] = df_tratado['status'].str.strip().str.upper()
df_tratado['tipo_servico'] = df_tratado['tipo_servico'].str.strip().str.upper()

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Status 
    </strong>
</p>

In [182]:
mapa_status = {
    'ENTREGUE': 'ENTREGUE',
    'EM TRANSITO': 'EM TRÂNSITO',
    'EM TRANZITO': "EM TRâNSITO",
    'EM TRÂNSITO': "EM TRÂNSITO",
    'ATRASADO': 'ATRASADO'
}

df_tratado['status'] = df_tratado['status'].map(mapa_status)

df_tratado['status'].head(10)

0       ENTREGUE
1       ENTREGUE
2       ENTREGUE
3       ATRASADO
4    EM TRÂNSITO
5       ENTREGUE
6    EM TRÂNSITO
7       ENTREGUE
8    EM TRÂNSITO
9       ENTREGUE
Name: status, dtype: str

Colunas calculadas

In [183]:
df_tratado['data_prevista'] = (
    df_tratado['data_postagem'] +
    pd.to_timedelta(df_tratado['prazo_previsto'],unit="D")
)

df_tratado[
    [
    'data_postagem',
    'prazo_previsto',
    'data_prevista'
]]

               data_postagem  prazo_previsto           data_prevista
0    2026-01-08 19:55:58.133             2.0 2026-01-10 19:55:58.133
1    2026-01-11 19:55:58.138             3.0 2026-01-14 19:55:58.138
2    2026-01-13 19:55:58.123             5.0 2026-01-18 19:55:58.123
3    2026-01-14 19:55:58.119             2.0 2026-01-16 19:55:58.119
4    2026-01-19 19:55:58.134             3.0 2026-01-22 19:55:58.134
...                      ...             ...                     ...
5177 2026-01-29 19:55:58.143             5.0 2026-02-03 19:55:58.143
5184 2026-01-14 19:55:58.134             2.0 2026-01-16 19:55:58.134
5188 2026-01-08 19:55:58.141             3.0 2026-01-11 19:55:58.141
5190 2026-01-06 19:55:58.118             3.0 2026-01-09 19:55:58.118
5194 2026-01-14 19:55:58.135             2.0 2026-01-16 19:55:58.135

[2866 rows x 3 columns]

In [184]:
hoje = pd.Timestamp.today().normalize()

df_tratado['Atraso'] = (
    hoje - df_tratado['data_prevista']
).dt.days

df_tratado['Atraso'] = df_tratado['Atraso'].clip(lower=0)

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Prazo previsto de acordo com a filial
    </strong>
</p>

In [185]:
df_tratado.loc[(df_tratado['cliente'] == 'Shopee') &
               (df_tratado['filial']=="RJ"),
               'prazo_previsto'
               ] = 5
df_tratado.loc[(df_tratado['cliente'] == 'Shopee') &
               (df_tratado['filial'].isin(["RJ", "SP"])),
               'prazo_previsto'
               ] = 2

ATUALIZANDO ARQUIVO PARA EXECUTAR FORMULAS

In [190]:
app = xw.App(visible=False)

wb = xw.Book(r'daods/base_entregas_tratada.xlsx')

wb.app.calculate()

wb.save()

wb.close()

app.quit()

FileNotFoundError: No such file: 'daods/base_entregas_tratada.xlsx'

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Salvando arquivo tratado
    </strong>
</p>

In [ ]:
criar_atualizar_arquivo('base_entregas2',df_tratado=df_tratado)