Iport

In [17]:
import pyodbc

import pandas as pd

In [ ]:
# conn = pyodbc.connect(
#     "DRIVER={ODBC Driver 17 for SQL Server};"     \
#     "SERVER=den1.mssql7.gear.host;"               \
#     "DATABASE=vendasbicyclon;"                    \
#     "UID=vendasbicyclon;"                         \
#     "PWD=senha@clarify;"                          \
#     "MARS_Connection=Yes"
# )

In [24]:
conn = pyodbc.connect(
    "DRIVER={SQL Server};"\
    "SERVER=den1.mssql7.gear.host;"\
    "DATABASE=vendasbicyclon;"\
    "UID=vendasbicyclon;"\
    "PWD=senha@clarify;" \
    'MARS_Connnection=yes;'
)

In [ ]:
# query = """
# SELECT
#     TABLE_SCHERMA,
#     TABLE_NAME
#             FROM INFORMATION_SHCERMA.TABLES
#             WHERE TABLE_TYPE = 'BASE TABLE'
#             ORDER BY TABLE_SCHERMA, TABLE_NAME  
# """
# df_tabelas = pd.read_sql(query, conn)
# df_tabelas

In [25]:
query = """
SELECT
    TABLE_SCHEMA,
    TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE'
ORDER BY TABLE_SCHEMA, TABLE_NAME
"""
df_tabelas = pd.read_sql(query, conn)
df_tabelas

C:\Users\gustavo.oliveira\AppData\Local\Temp\ipykernel_27880\1072917624.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tabelas = pd.read_sql(query, conn)

  TABLE_SCHEMA      TABLE_NAME
0          dbo        clientes
1          dbo     itensPedido
2          dbo  linhasProdutos
3          dbo         pedidos
4          dbo        produtos
5          dbo       regionais
6          dbo     sysdiagrams
7          dbo      vendedores

Nome dos clientes

In [28]:
query_cols_clientes = """
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'clientes'
"""

pd.read_sql(query_cols_clientes, conn)

query_clientes = """
SELECT
    nomeCliente
FROM dbo.clientes
ORDER BY nomeCliente
"""

df_clientes = pd.read_sql(query_clientes, conn)
df_clientes

C:\Users\gustavo.oliveira\AppData\Local\Temp\ipykernel_27880\3453534780.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query_cols_clientes, conn)
C:\Users\gustavo.oliveira\AppData\Local\Temp\ipykernel_27880\3453534780.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_clientes = pd.read_sql(query_clientes, conn)

                 nomeCliente
0         BiciMondo Ventures
1              BikeHub Oasis
2    CicloFusion Marketplace
3         CyclaVista Cyclery
4        GearSpin Provisions
5         Pedal & Gear Haven
6        PedalCraft Boutique
7  RollRight Wheels Emporium
8   SpinScape Bikes & Beyond
9         Velocycle Emporium

Produtos com valor > 2000

In [29]:
query_cols_produtos = """
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'produtos'
"""

pd.read_sql(query_cols_produtos, conn)

C:\Users\gustavo.oliveira\AppData\Local\Temp\ipykernel_27880\30805825.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query_cols_produtos, conn)

        COLUMN_NAME
0         idProduto
1    idLinhaProduto
2       nomeProduto
3  descricaoProduto
4     precoUnitario

In [30]:
query_produtos = """
SELECT
    nomeProduto,
    descricaoProduto,
    precoUnitario
FROM dbo.produtos
WHERE precoUnitario > 2000
ORDER BY precoUnitario DESC
"""

df_produtos = pd.read_sql(query_produtos, conn)
df_produtos

C:\Users\gustavo.oliveira\AppData\Local\Temp\ipykernel_27880\2903124168.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_produtos = pd.read_sql(query_produtos, conn)

,nomeProduto,descricaoProduto,precoUnitario
0,Velocity Racer 3000,Road Bike de carbono leve,3499.0
1,Junior Adventurer 8000,Kids Bike para crian?as de 6 a 9 anos,2999.0
2,Expedition Voyager 11000,Touring Bike para viagens longas e aventuras,2799.0
3,Summit Seeker 2000,Mountain Bike com suspens?o dianteira e traseira,2499.0
4,E-Power Cruiser 6000,Electric Bike com motor de pedal assistido,2399.0